*~
#*#
.#*
*.bak
.svn
*.log
~$*
*.1
*.2
Thumbs.db
desktop.ini
/* *.zip */
/* but put in the ones in the examples folder */
/* !*/www/modules/examples/*.zip */
/* !*/Modules/examples/*.zip   */
/* !*examples/*.zip */
TAGS
*.aux
*.log
*.out
*.dvi
auto
compiled
*.stackdump
_gsdata_


